@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

body {
    overflow: hidden;
    background-color: black;
    background-image: url("./assets/endless-constellation.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 15", system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    animation: 6s change-size infinite alternate;
}
  
@keyframes change-size {
from {
    background-position-y: top;
}

to {
    background-position-y: center;
}
}
 
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.to-do-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    border: 1px solid violet;
    border-radius: 12px;
    gap: 20px;
}

h1 {
    color: white;
}

.get-data {
    display: flex;
    gap: 10px;
}

.add-button,
.delete-button,
.move-button {
    color: white;
    font-weight:bold;
    font-size: 1rem;
    background-color: #83E22B;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
}

.add-button:hover {
    background-color: #9be259;
    transform: scale(1.1);
}

input {
    border: 1px solid #cccccc;
    border-radius: 12px;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

li {
    color: white;
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid violet;
    flex-wrap: wrap;
}

span {
    width: 200px;
    padding-right: 20px;
    overflow: scroll;
}

.delete-button,
.move-button {
    background-color: blueviolet;
}

.delete-button:hover,
.move-button:hover {
    background-color: rgb(160, 98, 219);
    transform: scale(1.1);
}

.author {
    color: white;
    text-align: center;
}

@media (max-width: 700px) {
    .to-do-list {
        min-width: 400px;
    }

    .get-data {
        flex-direction: column;
    }

    input {
        padding: 15px 10px;
    }

    li {
        flex-direction: column;
        text-align: center;
    }

    button {
        width: 200px;
    }
}